<div class="login">
    <form [formGroup]="loginForm" ngNativeValidate (ngSubmit)="signIn(loginForm)" class="login__form">
      <div class="login-field">
        <label class="login-field__label">Username</label>
        <input id="username" type="text" class="login-field__input"  formControlName="username"/>
      </div>

      <div class="login-field">
        <label class="login-field__label">Password</label>
        <input id="password" type="password" class="login-field__input"  formControlName="password"/>
      </div>
      <div class="login-error" *ngIf="validationError">
        {{validationError}}
      </div>
      <div class="login-error" *ngIf="error">
        {{error}}
      </div>

      <button class="login__button"
              [disabled]="loginInProgress">
        {{loginInProgress ? 'Signing in..' : 'Sign in'}}
      </button>
    </form>
  </div>